/* Type selectors */

* {
	box-sizing: border-box;
}

body {
	color: #878787;
	margin: 0;
	font: 1em/1.5 helvetica, arial, sans-serif;
}

h1 {
	font-size: 3.625rem; /* 90px / 16px */
	color: white;
	text-transform: uppercase;
    font-weight: 400;
	margin: 12px 0 0;
}

h2 {
	font-size: 53px;
	text-decoration: underline;
	font-weight: normal;
	}

h3 {
	font-size: 20px;
	color: #48525c;
	margin-bottom: 1.7em; /* 34px */
}

img {
	max-width: 100%;
	margin-bottom: 20px;
}

ul,
ol {
	margin: 30px 0;
}

li {
	margin-bottom: 10px;
}

/* Class selectors */

.main-header {
	padding-top: 170px;
	height: 850px;
	background: #cc2506 url('../img/main-workspace.jpg') no-repeat center;
	background-size: cover;
}

.title {
	color: white;
	font-size: 1.625rem; /* 26px/16px */
	letter-spacing: .065em;
	font-weight: 200;
	border-bottom: 2px solid;
	padding-bottom: 10px;
}

.primary-content,
.main-header,
.main-footer{
	text-align: center;
}

.t-border {
	border-top: 2px solid lightgrey;
}

/* Layout styles */


.primary-content {
	padding-top: 25px;
 	padding-bottom: 95px;
}

.secondary-content {
	padding-top: 80px;
	padding-bottom: 70px;
 	border-bottom: 2px solid #dfe2e6;
}

.primary-content, 
.secondary-content {
	width: 75%;
	padding-left: 50px;
	padding-right:  50px;
	margin: auto;
	max-width: 900;
}

.arrow {
	width: 50px;
	margin-top: 150px;
}

.callout {
	font-size: 1.25em;
	border-bottom: 3px solid;
	padding: 0 9px 3px;
	margin-top: 20px;
	display: inline-block;
}

.video-frame {
	margin: 120px 0 60px;
}

.main-footer {
	padding-top: 60px;
	padding-bottom: 60px;
	border-bottom: solid 10px #cc2506;
}

/* Floated columns */

.find-hashmeta,
.offer {
	width: 46.5%;
}

.offer {
	float: left;
}

.find-hashmeta {
	float: right;
}

/* Float clearfix */

.group:after {
	content: "";
	display: table;
	clear: both;
}

/* Pseudo classes */

a:link {
	color: rgb(204, 37, 6);
	text-decoration: none;
}

a:visited {
	color: lightblue;
}

a:hover {
	color: rgba(204, 37, 6, .4);
}

a:active {
	color: lightcoral;
}


